*,
*::before,
*::after {
  border-width: 0;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  word-spacing: 1px;
}

/* stylelint-disable selector-max-id */
#__nuxt,
#__layout,
#__layout > div,
#app {
  min-height: 100vh;
}

#app {
  background-color: var(--color-covalent-deep-blue);
  min-width: 320px;
}
/* stylelint-enable selector-max-id */
