::-webkit-scrollbar {
  height: 3px;
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--color-covalent-pink);
  height: 30px;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

html,
body {
  height: 100%;
}

html {
  background-color: var(--color-covalent-deep-blue);
  box-sizing: border-box;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  word-spacing: 1px;
}
/* stylelint-disable selector-max-id */
#__nuxt,
#__layout,
#__layout > div,
#app {
  min-height: 100vh;
}

#app {
  background-color: var(--color-covalent-deep-blue);
  min-width: 320px;
}
/* stylelint-enable selector-max-id */
