:root {
  --color-covalent-black: #00010D;
  --color-covalent-gray: #f7f7f7;
  --color-covalent-deep-blue: #000426;
  --color-covalent-pink: #ff4c8b;
  --color-covalent-turquoise: #00d8d5;
  --color-covalent-white: #ffffff;
}

/* Border */
$border-color: var(--color-covalent-gray);
$border-radius: 0.25rem;

/* Font */
$font-family-sans-serif: 'Titillium Web';

/* Card */
$card-cap-bg: var(--color-covalent-gray);
